@font-face {
    font-family: 'carbontyperegular';
    src: url('../fonts/carbontype-webfont.eot');
    src: url('../fonts/carbontype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/carbontype-webfont.woff2') format('woff2'),
         url('../fonts/carbontype-webfont.woff') format('woff'),
         url('../fonts/carbontype-webfont.ttf') format('truetype'),
         url('../fonts/carbontype-webfont.svg#carbontyperegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/CaviarDreams-webfont.eot');
    src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CaviarDreams-webfont.woff2') format('woff2'),
         url('../fonts/CaviarDreams-webfont.woff') format('woff'),
         url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*STYLE CSS PROJET 4*/

/*=== CORPS ==================================================================================================================*/

html, body
{
	font-family: 'open_sansregular', sans-serif;
	font-size: 1em;
	margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    height: 100%;

    background: url("../images/background.png") fixed no-repeat top right;
    color: white;
}

h1
{
	font-family: 'carbontyperegular', sans-serif;
}

h2
{
	font-family: 'caviar_dreamsregular', sans-serif;
	font-size: 1.3em;
	font-weight: normal;
}

p
{
	font-family: 'open_sansregular', sans-serif;
}

a
{
	font-family: 'open_sansregular', sans-serif;
	font-style: normal;
	color: black;
	text-decoration: none;
}

em
{
	font-size: 0.6em;
	font-style: normal;
}

input
{
	font-family: 'open_sansregular', sans-serif;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border: 1px solid #c5c5c5;
}

textarea
{
	font-family: 'open_sansregular', sans-serif;
}

/*=== CONTAINER ===============================================================================================================================================================*/

#container 
{
   position: relative;
   min-height: 100%;
}

/*=== HEADER ==================================================================================================================================================================*/

header
{
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: row;

	background-color: white;
	color: black;
	box-shadow: 0px 0px 4px black;
	z-index: 99;
}

header h1
{
	position: relative;
	margin-top: 15px;
	left: 40px;

	font-family: 'caviar_dreamsregular', sans-serif;
	font-size: 1.3em;
	font-weight: normal;
}

nav
{
	position: absolute;
	margin-top: -5px;
	right: 10px;
	font-size: 1.3em;
}

nav ul
{
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

nav li
{
    margin-right: 35px;
}

header a
{
	font-family: 'caviar_dreamsregular', sans-serif;
}

nav a:hover
{
	padding: 5px;
	background-color: #173035;
	color: white;
}

nav li:hover
{
    margin-right: 25px;
}

@media all and (max-width: 1366px)/*=========================*/
{

}

@media all and (max-width: 1024px)/*=========================*/
{

}

@media all and (max-width: 720px)/*=========================*/
{
	header h1 
	{
	    margin-top: 16px;
	    left: 12px;
	    font-size: 1em;
	}

	nav
	{
		margin-top: 0px;
		font-size: 1em;
	}

	nav li 
	{
    	margin-right: 10px;
	}

	nav li:hover
	{
	    margin-right: 5px;
	}
}

@media all and (max-width: 480px)/*=========================*/
{

}

/*=== HOMEPAGE ==============================================================================================================*/

#homepage
{
	position: relative;
	width: 90%;
	left: 5%;
	height: 475px;
	margin-top: 50px;
	align-items: center;

	background: url("../images/homepage-banner.png");
}

#homepage h1
{
	position: relative;
	top: 170px;
	margin: auto;
	width: 745px;

	text-align: center;
	font-family: 'carbontyperegular', 'Roboto', sans-serif;
	font-size: 2.5em;
	text-shadow: 1px 1px 2px black; 
}

#last-article
{
	position: relative;
	width: 90%;
	left: 5%;
	padding-bottom: 100px;

	background-color: #F0F0F0;
	color: black;
}

#last-article-title
{
	position: relative;
	top: 10px;
	left: 20px;
	margin: 0px;
}

#last-article a
{
	font-weight: bold;
}

#last-article a:hover
{
	padding: 5px;
	background-color: #173035;
	color: white;
}

@media all and (max-width: 1366px)/*=========================*/
{
	#homepage
	{
		height: 390px;
	}

	#last-article
	{
		padding-bottom: 22px;
	}
}

@media all and (max-width: 1024px)/*=========================*/
{
	#homepage
	{
		height: 278px;
	}

	#homepage h1
	{
		top: 100px;
		width: auto;
	}
}

@media all and (max-width: 720px)/*=========================*/
{
	#homepage
	{
		height: 185px;
	}

	#homepage h1
	{
		top: 40px;
		font-size: 2em;
	}

	#last-article .news
	{
		border-radius: 0px;
		width: auto;
	}
}

@media all and (max-width: 480px)/*=========================*/
{

}

/*=== FOOTER ==================================================================================================================================================================*/

footer
{
	position: absolute;
	height: 50px;
	width: 100%;
	left: 0;
	bottom: -50px;

	background-color: white;
	color: black;
}

@media all and (max-width: 1366px)/*=========================*/
{

}

@media all and (max-width: 1024px)/*=========================*/
{

}

@media all and (max-width: 720px)/*=========================*/
{
	
}

@media all and (max-width: 480px)/*=========================*/
{

}

/*=== LIST-POSTS ==============================================================================================================*/

#list-posts
{
	position: relative;
	margin-top: 50px;
	width: 90%;
	left: 5%;
	padding-bottom: 25px;

	background-color: #F0F0F0;
}

#list-posts-banner
{
	position: relative;
	height: 300px;
	width: 100%;
	text-align: center;

	background: url("../images/list-posts-banner.png");
	box-shadow: 0px 0px 4px black;
}

#list-posts-banner h1
{
	position: relative;
	margin: auto;
	bottom: -180px;

	font-family: 'carbontyperegular', 'Roboto', sans-serif;
	font-size: 2.5em;
	color: black;
	text-shadow: 1px 1px 2px white; 
}

#list-posts a:hover
{
	padding: 5px;
	background-color: #173035;
	color: white;
}

.news
{	
	position: relative;
	width: 90%;
	top: 20px;
	padding: 5px 20px;
	margin: auto;
	margin-bottom: 35px;

	background-color: white;
	color: black;
	border-radius: 10px;
}

.news h2
{
	font-family: 'open_sansregular';
}

.news h2, p
{	
	position: relative;
}

.comments-link
{	
	position: relative;
	bottom: -7px;
}

@media all and (max-width: 1366px)/*=========================*/
{
	#list-posts
	{
		margin-bottom: 100px;
	}
}

@media all and (max-width: 1024px)/*=========================*/
{
	#list-posts-banner h1 
	{
    	bottom: -115px;
    }
}

@media all and (max-width: 720px)/*=========================*/
{

	#list-posts-banner 
	{
    height: 100px;
	}

	#list-posts-banner h1 
	{
	    bottom: -15px;
	    font-size: 2em;
	}

	#list-posts .news
	{
		border-radius: 0px;
		width: auto;
	}
}

@media all and (max-width: 480px)/*=========================*/
{

}

/*=== POSTS ==============================================================================================================*/

#posts
{
	position: relative;
	margin-top: 50px;
	width: 90%;
	left: 5%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	background-color: #F0F0F0;
}

#posts h1
{
	position: relative;
	left: 15px;
}

#posts a
{
	font-size: 1em;
}

#posts form
{
	position: relative;
	width: 450px;
	margin: auto;
	margin-left: 100px;
	margin-bottom: 10px;
	padding: 5px 10px;

	font-family: 'open_sansregular', sans-serif;
	background-color: white;
	color: black;
	border-radius: 10px;
}

#posts form div
{
	margin-bottom: 10px;
}

#posts textarea
{
	height: 150px;
	width: 375px;
}

.comments
{
	position: relative;
	margin-left: 100px;
	color: black;
}

.comments-list
{
	position: relative;
	width: 80%;
	margin: auto;
	margin-bottom: 15px;
	margin-left: 100px;
	padding: 5px 10px;

	background-color: white;
	color: black;
	border-radius: 10px;
}

.signal-button
{
	position: relative;
	left: -109px;
	padding: 2px 5px;

	background-color: #EBE6E6;
	color: #A49999;
	font-style: italic;
	border: none;
	border-radius: 5px;
}

@media all and (max-width: 1366px)/*=========================*/
{
	#posts
	{
		margin-bottom: 100px;
	}
}

@media all and (max-width: 1024px)/*=========================*/
{
	.comments 
	{
    	margin-left: 15px;
  	}

  	.comments-list
  	{
    	margin-left: 35px;
	}

	#posts .comments-list form 
	{
	    width: 250px;
	}

	.add-comment
	{
		margin-left: 35px;
	}
}

@media all and (max-width: 720px)/*=========================*/
{
	#posts
	{
		width: 94%;
		left: 4px;
	}

	#posts .comments-list form 
	{
	    width: 100px;
	}

	#posts .add-comment
	{
 		width: 85%;
		margin-left: 30px;
    }
}

@media all and (max-width: 480px)/*=========================*/
{

}


/*=== ADMIN ACCESS ==================================================================================================================*/

#admin-access
{
	position: relative;
	height: 250px;
	width: 400px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;	

	background-color: white;
	color: black;
	border-radius: 10px;
}

#admin-access h1
{
	position: relative;
	margin: auto;
	top: 20px;
	margin-bottom: 50px;

	font-family: 'caviar_dreamsregular';
	font-weight: normal;
}

#admin-access form div
{
	margin: 15px;
}

#admin-access form input
{
	margin: 2px;
}

.submit-button
{
	position: relative;
	padding: 5px;

	background-color: #173035;
	color: white;
	border: none;
	border-radius: 5px;
	font-family: 'open_sansregular', sans-serif;
}

@media all and (max-width: 1366px)/*=========================*/
{

}

@media all and (max-width: 1024px)/*=========================*/
{

}

@media all and (max-width: 720px)/*=========================*/
{
	
}

@media all and (max-width: 480px)/*=========================*/
{

}

/*=== ADMIN VIEW ==================================================================================================================*/

#admin-view
{
	position: relative;
	display: flex;
	justify-content: space-around;
	height: 500px;
	width: 40%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;

	background-color: white;
	color: black;
	border-radius: 10px;
}

#admin-view h1
{
	position: relative;
	top: 20px;
	margin-bottom: 50px;

	font-family: 'caviar_dreamsregular';
	font-weight: normal;
}

#admin-view h2,  #admin-view p, #admin-view form
{
	position: relative;
	left: 5%;
}

#admin-view a:hover
{
	padding: 5px;
	background-color: #173035;
	color: white;
}

#admin-view .submit-button
{
	margin-top: 10px;
	width: 65px;
}

#admin-view form
{
	margin-bottom: 15px;
}

#admin-view input
{
	width: 200px;
}


@media all and (max-width: 1366px)/*=========================*/
{
	#admin-view
	{
		width: 600px;
	}
}

@media all and (max-width: 1024px)/*=========================*/
{

}

@media all and (max-width: 720px)/*=========================*/
{
	#admin-view 
	{
    	width: 481px;
    	justify-content: space-evenly;
    	font-size: 0.8em;
    	border-radius: 0px;
	}
}

@media all and (max-width: 480px)/*=========================*/
{

}

/*=== POSTS BOARD VIEW ==================================================================================================================*/

.new-post
{
	position: relative;
	height: 700px;
	width: 90%;
	left: 5%;
	margin-top: 100px;
	margin-bottom: 50px;

	background-color: white;
	color: black;
	border-radius: 10px;

}

.bta-newPost.backtoAdmin
{
	position: absolute;
	left: -98px;
	top: 20px;
}

.new-post h1
{
	position: relative;
	left: 45px;
	top: 20px;
	margin-bottom: 50px;

	font-family: 'caviar_dreamsregular';
	font-weight: normal;
}

.new-post form
{
	position: relative;
	width: 75%;
	margin: auto;
	margin-left: 100px;
	margin-bottom: 10px;
	padding: 5px 10px;

	font-family: 'open_sansregular', sans-serif;
	background-color: white;
	color: black;
	border-radius: 10px;
}

.new-post .title
{
	width: 300px;
}

.new-post form div
{
	margin-bottom: 10px;
}

.new-post textarea
{
	height: 250px;
	width: 800px;
}

#manage-post
{
	position: relative;
	margin-top: 50px;
	width: 90%;
	left: 5%;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	background-color: #F0F0F0;
	border-radius: 10px 10px 0px 0px;
}

#manage-post h1
{
	position: relative;
	margin-bottom: 50px;
	top: 12px;
	left: 25px;
	color: black;
	font-family: 'caviar_dreamsregular';
	font-weight: normal;
}

.backtoAdmin 
{
	position: absolute;
	left: 3px;
	top: 7px;
	margin: auto;
}

.backtoAdmin input
{
	background-color: transparent;
	border-style: none;
	color: black;
	font-family: 'caviar_dreamsregular';
	font-size: 1em;
}

#manage-post .news
{
	display: flex;
	flex-direction: row;
	width: auto;
	padding: 0px 0px 0px 10px;
}

.content-post
{
	width: 100%;
	display: flex;
	align-items: stretch;
}

.content-post h2
{
	width: 1000px;
}

.content-post h2 a
{
	font-family: 'caviar_dreamsregular';
}

#manage-post .content-delete
{
	text-align: center;
}


#manage-post .news input
{
	background-color: transparent;
	color: white;
	border-style: none;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	border: 0 solid #c5c5c5;
	font-family: 'open_sansregular', sans-serif;
	font-size: 1em;
}

@media all and (max-width: 1366px)/*=========================*/
{
	#manage-post
	{
		margin-bottom: 100px;
	}

	#manage-post
	{
		margin-bottom: 100px;
	}

	.content-post h2
	{
		width: 700px;
	}
}

@media all and (max-width: 1024px)/*=========================*/
{
	#manage-post .news
	{
		width: 600px;
	}
}

@media all and (max-width: 720px)/*=========================*/
{
	.new-post
	{
		width: 100%;
		left: 0;
		border-radius: 0px;
	}

	.new-post form 
	{
    	width: 95%;
    	margin-left: 0%;
	}

	.new-post h1
	{
		width: 275px;
	}

	#manage-post
	{
		width: 100%;
		left: 0;
		border-radius: 0px;
	}

	#manage-post h1
	{
		width: 275px;
	}

	#manage-post .news 
	{
	    width: 470px;
	    left: 0;
	    font-size: 0.9em;
	    border-radius: 0;
	}

	#manage-post .content-delete 
	{
	    border-radius: 0;
	}
}

@media all and (max-width: 480px)/*=========================*/
{

}

/*=== COMMENTS BOARD VIEW ==================================================================================================================*/

#comments-view
{
	position: relative;
	margin-top: 50px;
	width: 90%;
	left: 5%;
	padding: 10px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	background-color: #F0F0F0;
	border-radius: 0 0 10px 10px;
}

#comments-view h1
{
	position: relative;
	left: 20px;
	top: 20px;
	margin-bottom: 50px;

	color: black;
	font-family: 'caviar_dreamsregular';
	font-weight: normal;
}

#comments-view .news
{
	display: flex;
	flex-direction: row;
	margin-bottom: 0;
	text-align: center;

	background-color: transparent;
}

#comments-view .news a
{
	color: white;
}

.comment-author
{
	position: relative;
	left: 0px;
	width: 125px;
	padding: 0 10px;
	
	background-color: #3a3e2d;
	color: white;
	border-radius: 5px 0px 0px 5px;
}

.comment-content
{
	position: relative;
	left: 0px;
	min-width: 500px;
	padding: 0 10px;
	
	background-color: white;
	color: black;
	border-radius: 0px 5px 5px 0px;
}

.comment-signals
{
	background-color: #D02A2A;
	color: white;
	padding: 0px 5px;
}

#comments-view .news  input
{
	background-color: transparent;
	color: white;
	border-style: none;
	font-family: 'open_sansregular', sans-serif;
	font-size: 1em;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	border: 0 solid #c5c5c5;
}

.content-modify
{
	position: relative;
	left: 0px;
	height: 100%;
	padding: 0;
	text-align: center;
	
	background-color: #8b9291;
}

.content-modify #modify
{
	position: relative;
	bottom: -30%;
}

.content-delete
{
	position: relative;
	left: 0px;
	height: 100%;
	padding: 0;
	text-align: center;
	
	background-color: #173035;
	border-radius: 0px 5px 5px 0px;
}

.content-delete #delete
{
	position: relative;
	bottom: -30%;

	color: white;
}


@media all and (max-width: 1366px)/*=========================*/
{

}

@media all and (max-width: 1024px)/*=========================*/
{
	#comments-view .news
	{
		font-size: 0.8em;
	}

	.comment-author
	{
		max-width: 100px;
	}

	.comment-content
	{
		width: 400px;
		min-width: 0;
	}
}

@media all and (max-width: 720px)/*=========================*/
{
	#comments-view h1
	{
		width: 275px;
	}
}

@media all and (max-width: 480px)/*=========================*/
{

}

/*=== ERROR VIEW ==================================================================================================================*/

#error
{
	position: relative;
	height: 400px;
	width: 25%;
	margin: auto;
	margin-top: 100px;

	background-color: white;
	color: black;
	border-radius: 10px;
	text-align: center;
}

#error h1
{
	position: relative;
	top: 100px;
}

#error a
{
	position: relative;
	top: 125px;

	font-family: 'caviar_dreamsregular', sans-serif;
	font-size: 1.25em;
}

#error p
{
	top: 150px;
	font-family: 'caviar_dreamsregular', sans-serif;
}

@media all and (max-width: 1366px)/*=========================*/
{

}

@media all and (max-width: 1024px)/*=========================*/
{

}

@media all and (max-width: 720px)/*=========================*/
{
	
}

@media all and (max-width: 480px)/*=========================*/
{

}

/*=== END ==================================================================================================================*/